body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

// --------------------------
// Variables
// --------------------------

// fonts
$titles: "Lobster", cursive;
$main: "Lato", sans-serif;

@mixin flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

@mixin backgroundImage {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

// --------------------------
// Main
// --------------------------
* {
	margin: 0;
	padding: 0;
	font-family: $main;
}

// --------------------------
// Home
// --------------------------
.home-main-container {
	height: 100vh;
	background-image: url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: -webkit-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: -moz-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;
}

.home-header {
	@include flex-column;
	width: 90%;
	color: #fff;
	padding: 8px;
	background-color: rgba(255, 255, 255, 0.2);

	h1 {
		font-size: 50px;
		font-family: $titles;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	p {
		width: 70%;
		color: #fff;
	}
}

.home-links {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	width: 90%;
	// background-color: rgba(255, 255, 255, 0.2);
	padding-bottom: 20px;
	padding-top: 20px;
}

.home-btn-box-loggedin {
	@include flex-row;

	.btn {
		margin: 10px;
		background-color: rgba(0, 0, 0, 0.644);
		color: #fff;
	}
}

.home-btn-box-loggedout {
	display: flex;
	align-items: center;
	justify-content: space-around;

	.btn {
		margin: 10px;
		background-color: rgba(0, 0, 0, 0.644);
		color: #fff;
	}
}

// --------------------------
// Sign up
// --------------------------
.main-signup-container {
	height: 100vh;
	padding-top: 30px;
	background-image: url("https://i.imgur.com/VlV82an.jpg");
	background-image: linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/VlV82an.jpg");
	background-image: -webkit-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/VlV82an.jpg");
	background-image: -moz-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/VlV82an.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;
}

.signup-content-container {
	@include flex-column;
	width: 80%;
	color: #fff;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2);

	h1 {
		font-size: 50px;
		font-family: $titles;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.form-container {
	@include flex-column;
}

.form-input {
	margin: 15px auto;
}

.form-btn {
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 15px;
}

.form-text {
	font-size: 20px;
	color: #fff;
}

// --------------------------
// Edit Review
// --------------------------
.edit-content-container {
	@include flex-column;
	width: 80%;
	color: #fff;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);

	h1 {
		font-size: 35px;
		font-family: $titles;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
.show-form-container,
.edit-form-container {
	@include flex-column;
}

.form-input {
	margin: 15px auto;
}

.edit-btn-box {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.form-btn {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 15px;
}

.form-text {
	font-size: 18px;
	color: #fff;
}

// --------------------------
// Performance Show
// --------------------------
.main-show-conainter {
	height: 100vh;
	@include flex-column;
}

.show-header {
	height: 38vh;
	background-image: url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: linear-gradient(#00000098, rgba(0, 0, 0, 0.913)),
		url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: -webkit-linear-gradient(#00000098, rgba(0, 0, 0, 0.913)),
		url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: -moz-linear-gradient(#00000098, rgba(0, 0, 0, 0.913)),
		url("https://i.imgur.com/tpbJlNE.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;

	h1 {
		font-size: 33px;
		font-family: $titles;
		color: #fff;
	}
}

.perf-content {
	@include flex-column;

	.summary {
		margin-bottom: 50px;
		font-size: 20px;
	}

	.show-img {
		border: 4px solid rgba(255, 255, 255, 0.947);
		width: 80%;
		position: relative;
		top: -30px;
	}

	.book-btn {
		background-color: rgba(255, 135, 6, 0.906);
		color: #fff;
	}
}

.show-form-container {
	color: #000;

	.form-text {
		color: #000;
		font-weight: 400;
	}

	.form-input {
		margin: 5px;
	}

	.form-btn {
		color: #000;
		border: 1px solid #000;
	}
}

.add-review-container {
	margin-top: 30px;
	background-image: url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: linear-gradient(#ffffffc7, #ffffffc7),
		url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: -webkit-linear-gradient(#ffffffc7, #ffffffc7),
		url("https://i.imgur.com/tpbJlNE.jpg");
	background-image: -moz-linear-gradient(#ffffffc7, #ffffffc7),
		url("https://i.imgur.com/tpbJlNE.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;

	h3 {
		font-weight: 400;
		color: #000;
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 25px;
		font-family: $titles;
	}
}

.review-container {
	margin-top: 30px;
	@include flex-column;
	margin-bottom: 60px;
}

.rev-title {
	text-align: center;

	h3 {
		font-size: 30px;
		margin-top: 60px;
		font-family: $titles;
		color: #000;
	}
}

.revs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.review-link {
	margin-top: 40px;
	@include flex-column;

	h4 {
		color: #000;
		font-size: 20px;
	}

	p {
		font-size: 15px;
		color: #000;
	}
}

.loading {
	background-color: transparent;
	font-size: 100px;
	color: #fff;
}

// --------------------------
// Footer
// --------------------------
.footer-container {
	background-color: #000;
}

// --------------------------
// Nav
// --------------------------
.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000;
	color: #fff;
	border: 4px solid #000;

	.nav-icon,
	.nav-link {
		color: #fff;
		font-size: 20px;
		cursor: pointer;
	}

	.nav-icon:hover,
	.nav-link:hover {
		color: rgba(238, 175, 87, 0.979);
	}
}

// --------------------------
// Index
// --------------------------
.index-main-contianer {
	height: 100vh;
}

.index-header {
	height: 45vh;
	background-image: url("https://i.imgur.com/3tc6Kxa.jpg");
	background-image: linear-gradient(#00000042, rgba(0, 0, 0, 0.719)),
		url("https://i.imgur.com/3tc6Kxa.jpg");
	background-image: -webkit-linear-gradient(#00000042, rgba(0, 0, 0, 0.719)),
		url("https://i.imgur.com/3tc6Kxa.jpg");
	background-image: -moz-linear-gradient(#00000042, rgba(0, 0, 0, 0.719)),
		url("https://i.imgur.com/3tc6Kxa.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;

	h1 {
		color: #fff;
		font-size: 30px;
		font-family: $titles;
	}
}

.content-container {
	padding: 20px;
	margin: 30px auto 30px auto;

	h2 {
		margin-bottom: 30px;
		font-size: 20px;
	}

	p {
		font-size: 12px;
		margin-bottom: 25px;
	}

	.icon-container {
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;

		.index-icon {
			font-size: 25px;
		}
	}
}

.cards-container {
	padding-bottom: 60px;
	padding-top: 60px;
	background-image: url("https://i.imgur.com/i1eSasy.png");
	background-image: linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	background-image: -webkit-linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	background-image: -moz-linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	@include backgroundImage;
	@include flex-column;

	h2 {
		font-family: $titles;
		color: #fff;
		font-size: 20px;
		margin-bottom: 30px;
	}

	.perf-grid-container {
		@include flex-column;
	}
}

.performance-container {
	width: 80%;
	background-color: #000;

	img {
		width: 100%;
		height: 100%;
	}
}

// --------------------------
// User Show
// --------------------------
.main-user-container {
	height: 100vh;
	padding-top: 30px;
	background-image: url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: -webkit-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	background-image: -moz-linear-gradient(
			#00000059,
			rgba(0, 0, 0, 0.767),
			rgba(0, 0, 0, 0.034)
		),
		url("https://i.imgur.com/aBOgHfu.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include backgroundImage;
}

.user-content-container {
	margin-top: 60px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	@include flex-column;
	width: 90%;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.426);

	h1 {
		font-size: 35px;
		font-family: $titles;
		margin-top: 20px;
	}

	h4 {
		font-size: 15px;
	}

	p {
		font-size: 15px;
	}
}

.revs {
	width: 90%;
	@include flex-column;

	.review {
		width: 80%;
	}
}

// --------------------------
// Loading
// --------------------------
.index-loading {
	.btn {
		font-size: 40px;
		border: none;
		background-color: transparent;
	}
}

.show-loading {
	height: 100vh;
	@include flex-column;
	background-image: url("https://i.imgur.com/i1eSasy.png");
	background-image: linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	background-image: -webkit-linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	background-image: -moz-linear-gradient(#1010106c, #00000069),
		url("https://i.imgur.com/i1eSasy.png");
	@include backgroundImage;

	.btn {
		font-size: 40px;
		border: none;
		color: #000;
		background-color: transparent;
	}
}

// --------------------------
// Media Query
// --------------------------
@media screen and (min-width: 768px) {
	// Home
	.home-header {
		height: 50%;
		align-content: space-around;
		justify-content: space-around;

		h1 {
			font-size: 70px;
			margin-bottom: -20px;
		}

		p {
			width: 75%;
			font-size: 28px;
		}
	}

	.home-links {
		width: 60%;
	}

	.home-btn-box-loggedin {
		.btn {
			font-size: 25px;
			width: 100%;
			padding: 10px;
			color: #fff;
		}
	}

	.home-btn-box-loggedout {
		.btn {
			width: 100%;
			padding: 10px;
			font-size: 25px;
			color: #fff;
		}
	}

	// Sign up
	.signup-content-container {
		width: 60%;

		h1 {
			font-size: 70px;
			margin-bottom: 30px;
		}
	}

	.form-container {
		width: 100%;
	}

	.form-btn {
		margin-top: 40px;
		padding: 15px;
		width: 40%;
		margin-bottom: 20px;
		padding: 10px;
		font-size: 20px;
	}

	.form-text {
		margin-top: 10px;
		font-size: 25px;
		color: #fff;
	}

	// Edit
	.edit-content-container {
		width: 75%;
		padding: 20px;

		h1 {
			font-size: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	//Perf show
	.show-header {
		height: 38vh;

		h1 {
			font-size: 55px;
		}
	}

	.perf-content {
		@include flex-column;

		.summary {
			margin-bottom: 50px;
			font-size: 25px;
		}

		.show-img {
			width: 70%;
			top: -40px;
		}

		.book-btn {
			font-size: 20px;
			font-weight: 600;
		}
	}

	.add-review-container {
		margin-top: 90px;

		h3 {
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 40px;
			font-family: $titles;
		}
	}

	.show-form-container {
		color: #000;

		.form-text {
			color: #000;
			font-size: 25px;
			font-weight: 400;
		}

		.form-input {
			margin: 5px;
		}

		.form-btn {
			color: #000;
			border: 1px solid #000;
		}
	}

	.review-container {
		@include flex-column;
		margin-bottom: 50px;
	}

	.rev-title {
		text-align: center;

		h3 {
			font-size: 40px;
			margin-top: 50px;
			margin-bottom: 30px;
			font-family: $titles;
			color: #000;
		}
	}

	.revs {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
		flex-wrap: wrap;
	}

	.review {
		width: 30%;
	}

	.review-link {
		margin-top: 40px;
		@include flex-column;

		h4 {
			color: #000;
			font-size: 25px;
		}

		p {
			font-size: 20px;
			color: #000;
		}
	}

	.loading {
		background-color: transparent;
		font-size: 100px;
		color: #fff;
	}

	//Index
	.index-header {
		height: 40vh;
		h1 {
			font-size: 55px;
		}
	}

	.content-container {
		padding: 40px;

		h2 {
			margin-bottom: 50px;
			font-size: 30px;
		}

		p {
			font-size: 18px;
			margin-bottom: 25px;
		}

		.icon-container {
			margin-top: 70px;
			font-size: 25px;

			p {
				font-size: 25px;
			}
		}
	}

	.cards-container {
		padding-bottom: 90px;
		padding-top: 90px;

		h2 {
			font-size: 40px;
			margin-bottom: 80px;
		}
	}

	//User show
	.main-user-container {
		height: 100vh;
		padding-top: 50px;
	}

	.user-content-container {
		width: 80%;

		h1 {
			font-size: 45px;
			margin-top: 30px;
		}

		h4 {
			font-size: 25px;
		}

		p {
			font-size: 20px;
		}
	}

	.revs {
		width: 90%;
		@include flex-column;

		.review {
			width: 80%;
		}
	}

	//loading
	.index-loading {
		.btn {
			font-size: 70px;
		}
	}

	.show-loading {
		.btn {
			font-size: 70px;
		}
	}
}

@media screen and (min-width: 950px) {
	// HOME
	.home-header {
		height: 50%;

		h1 {
			font-size: 90px;
			margin-bottom: -70px;
		}

		p {
			width: 75%;
			font-size: 35px;
		}
	}

	.home-links {
		width: 70%;
	}

	.home-btn-box-loggedin {
		.btn {
			font-size: 30px;
			width: 100%;
			padding: 20px;
		}
	}

	.home-btn-box-loggedout {
		.btn {
			font-size: 30px;
			width: 100%;
			padding: 20px;
		}
	}

	// Sign up
	.signup-content-container {
		width: 70%;

		h1 {
			font-size: 85px;
			margin-bottom: 30px;
		}
	}

	.form-container {
		width: 80%;
	}

	.form-btn {
		margin-top: 50px;
		padding: 20px;
		margin-bottom: 30px;
		padding: 15px;
		font-size: 25px;
	}

	.form-text {
		margin: 20px auto;
		font-size: 30px;
	}

	// Edit
	.edit-content-container {
		h1 {
			font-size: 80px;
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}

	//Perf show
	.show-header {
		height: 42vh;

		h1 {
			font-size: 65px;
		}
	}

	.perf-content {
		margin-bottom: 40px;

		.summary {
			margin-bottom: 50px;
			font-size: 33px;
		}

		.show-img {
			width: 70%;
			top: -40px;
		}

		.book-btn {
			margin-top: 40px;
			font-size: 25px;
			font-weight: 600;
		}
	}

	.add-review-container {
		@include flex-column;
		margin-top: 100px;

		h3 {
			margin-top: 45px;
			margin-bottom: 25px;
			font-size: 45px;
		}
	}

	.show-form-container {
		.form-text {
			font-size: 33px;
		}

		.form-input {
			margin: 5px;
		}
	}

	.review-container {
		@include flex-column;
		margin-bottom: 50px;
	}

	.rev-title {
		text-align: center;

		h3 {
			font-size: 45px;
			margin-top: 50px;
			margin-bottom: 30px;
		}
	}

	.review {
		width: 32%;
	}

	.review-link {
		margin-top: 40px;

		h4 {
			font-size: 30px;
		}

		p {
			font-size: 25px;
		}
	}

	.loading {
		background-color: transparent;
		font-size: 100px;
		color: #fff;
	}

	//Index
	.index-header {
		height: 40vh;
		h1 {
			font-size: 75px;
		}
	}

	.content-container {
		padding: 80px;

		h2 {
			margin-bottom: 50px;
			font-size: 35px;
		}

		p {
			font-size: 22px;
			margin-bottom: 30px;
		}

		.icon-container {
			margin-top: 90px;
			font-size: 25px;

			p {
				font-size: 25px;
			}
		}
	}

	.cards-container {
		padding-bottom: 90px;
		padding-top: 120px;

		h2 {
			font-size: 50px;
			margin-bottom: 110px;
		}

		.perf-grid-container {
			@include flex-row;
			flex-wrap: wrap;
		}
	}

	.performance-container {
		width: 45%;
		height: 28vh;
		background-color: #000;

		img {
			width: 100%;
			height: 100%;
		}
	}

	//User show
	.user-content-container {
		h1 {
			font-size: 50px;
			margin-top: 40px;
		}

		h4 {
			font-size: 30px;
		}

		p {
			font-size: 25px;
		}
	}

	//loading
	.index-loading {
		.btn {
			font-size: 90px;
		}
	}

	.show-loading {
		.btn {
			font-size: 90px;
		}
	}
}

@media screen and (min-width: 1200px) {
	// HOME
	.home-header {
		height: 50%;
		width: 60%;

		h1 {
			font-size: 70px;
			margin-bottom: -20px;
		}

		p {
			width: 60%;
			font-size: 20px;
		}
	}

	.home-links {
		width: 70%;
	}

	.home-btn-box-loggedin {
		.btn {
			font-size: 20px;
			width: 100%;
			padding: 15px;
		}
	}

	.home-btn-box-loggedout {
		.btn {
			font-size: 20px;
			width: 100%;
			padding: 15px;
		}
	}

	// Sign up
	.signup-content-container {
		width: 60%;
	}

	.form-container {
		width: 50%;
	}

	.form-btn {
		margin-top: 50px;
		padding: 15px;
		font-size: 20px;
	}

	.form-text {
		margin: 20px auto;
		font-size: 25px;
	}

	//Perf show
	.show-header {
		height: 50vh;

		h1 {
			font-size: 65px;
		}
	}

	.perf-content {
		margin-bottom: 100px;

		.summary {
			font-size: 33px;
		}

		.show-img {
			width: 65%;
		}

		.book-btn {
			font-size: 20px;
		}
	}

	.add-review-container {
		@include flex-column;
		margin-top: 100px;

		h3 {
			margin-top: 45px;
			margin-bottom: 25px;
			font-size: 45px;
		}
	}

	.show-form-container {
		.form-text {
			font-size: 30px;
		}
	}

	.review {
		width: 30%;
	}

	.review-link {
		h4 {
			font-size: 30px;
		}

		p {
			font-size: 20px;
		}
	}

	//Index
	.index-header {
		height: 60vh;
	}

	.cards-container {
		padding-bottom: 90px;
		padding-top: 120px;

		h2 {
			font-size: 50px;
			margin-bottom: 110px;
		}
	}

	.performance-container {
		width: 45%;
		height: 40vh;
		background-color: #000;

		img {
			width: 100%;
			height: 100%;
		}
	}

	//User show
	.user-content-container {
		h1 {
			font-size: 50px;
			margin-top: 40px;
		}

		h4 {
			font-size: 25px;
		}

		p {
			font-size: 20px;
		}
	}

	//loading
	.index-loading {
		.btn {
			font-size: 110px;
		}
	}

	.show-loading {
		.btn {
			font-size: 110px;
		}
	}
}
